* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255,255,255,0.9);
}

.caption{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.thumbnail:hover{
  transform:translate(-4px);
}

.img-container:hover .overlay{
  opacity: 1;
}
